@font-face {
  font-family: 'roboto_bold';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto_regular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helveticaneuecyr_roman';
  src: url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'helvetica_bold';
  src: url('../fonts/Helvetica-Bold.woff2') format('woff2'),
       url('../fonts/Helvetica-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}