$black: #000;
$white: #fff;

$textColorGrey: #727272;
$textColorBlue: #2f3b4c;
$textColor: #2f3a4c;
$textColorDarkBlue: #2574a9;

$bgColorGrey: #f1f3f2;
$bgColorBlue: #e1e5e8;
$bgColorDarkGrey: #d5d9db;
$bgColorDarkBlue: #2575aa;
$bgColorGreen: #1a9022;
$bgColorYellow: #f5ad3c;
$timerBgColor: #c1c4c5;

$borderColorBlue: #bdc9d1;
$borderColorGrey: #bfc2c4;

$borderTableGrey: #dfe0e1;
$borderTableBlue: #eaf2f4;

$bgTableBlue: #f2fafd;
$bgTableDarkBlue: #5fa1c1;

$svgFillColor: #009fe2;

$lineColor: #acacb4;

$buttonColorBlue: #12a9eb;
$btnBorderColor: #11a9ec;